.telesan-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    max-width: 70%;
    margin: 80px auto 0;
    padding: 0 0 15px;
    position: relative;
    text-align: left;
    
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        position: relative;
        width: 100%;
        max-width: 385px;
        z-index: 5;
        box-sizing: border-box;
    }

    .grafico {
        width: 100%;
        max-width: 500px;
        z-index: 5;
        box-sizing: border-box;
    }

    h1 {
        font-weight: 500;
        letter-spacing: 0;
        font-size: 35px;
        color: $mainColor;
        margin-bottom: 0px;
    }

    .circles {
        font-size: 30px;
        text-align: center;
        svg {
            margin-left: 13px;
        }
        path {
            color: $secondColor;
        }
    }
}



#telesan-hero1, #telesan-hero2 {
    .content-telesan {
        width: 75%;
        margin: 0 auto;
        padding: 24px 0px;
    }
  
    .grafico .gatsby-image-wrapper {
        top: 66px;
        width: 100%;
        height: auto;
        box-shadow: 0 20px 24px 1px rgba(88, 88, 88, 10%);
        border-radius: 15px;
        

    }
}


#telesan-hero1, #premios {
    background-color: #F2F2F2;
    padding: 10px;
    .column {
        margin-right: 66px;
    }
}

#premios {
    h1 {
        font-size: 4em;
        margin-bottom: 0px;
        color:$mainColor;
        text-align: center;
        padding-top: 73px;
    }
}

#telesan-hero2 {
    background-color: #FFF;

    .column {
        margin-left: 11px;
    }
}

.equipo h1 {
    text-align: center;
}

#productos {
    #manuales {
        text-align: center;
        margin-top: 60px;
        font-size: 50px;
        color: $mainColor;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
    }
}


#productos a:hover {
    color: $mainColor;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}
.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-telesan {
    svg{
         margin-right: 10px;
    }
    path {
        color: $mainColor;
    }
}
.equipo {
    svg {
        color: $mainColor !important;
    }
}



input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $mainColor;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: $mainColor;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: $mainColor;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: $mainColor;
}

input::placeholder, textarea::placeholder {
  color: $mainColor;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: $mainColor;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: $mainColor;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: $mainColor;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: $mainColor;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: $mainColor;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: $mainColor;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: $mainColor;
}

input:hover::placeholder, textarea:hover::placeholder {
  color:$mainColor;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color:$mainColor;
}

input:hover::placeholder, textarea:hover::placeholder {
  color:$mainColor;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color:$mainColor;
}


#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: $mainColor;
  
  border: solid 1px $mainColor;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #fff;
  color: $mainColor;
}

textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: $mainColor;

  font-size: 0.875em;
  
  border: solid 1px $mainColor;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #fff;
  color: $mainColor;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 0.875em;
  color: #fff;
  
  outline:none;
  cursor: pointer;
  background-color: $mainColor;
  border: solid 1px $mainColor;
  border-top: none;
}

#submit:hover {
  color: $mainColor;
  background-color: #fff;
  border: solid 1px $mainColor;
}

label {
  display: grid;
}
.telesan-row svg {
  margin-right: 10px;
}

.telesan-row path {
  color: $mainColor;
}

form {
  width: 91%;
  margin: 0 10px;
}
@media only screen and (max-width: 1199px) {
    .telesan-row {
        display: block;

        h1 {
            margin-top: 78px;   
        }
    }

    div#info-contacto {
      margin: 31px auto;
    }
}

.disclaimer {
  background-color: $mainColor;

  .disclaimer-content {
    text-align: center;
    padding: 10px;

    p {
      color: #fff;
    }

  }
}