.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover !important;
  //background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.65) 100%), no-repeat center center scroll;

}

.nav-links {
  width: 57%;
}

.heroboxtext {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
    h1 {
      font-style: normal;
      font-weight: bold;
      color: #eee;
      font-size: 12vmin;
      letter-spacing: 0.03em;
      line-height: 1.4;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
      margin-bottom: 8px;
      text-align: right;
      margin-right: 20px;
    }
      
    p {
      font-style: normal;
      font-weight: bold;
      color: #eee;
      font-size: 4vmin;
      letter-spacing: 0.03em;
      line-height: 1;
      margin-bottom: 40px;
      text-align: right;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
      margin-right: 20px;
      width: 40%;
    }
}

#teleconsulta {
  padding: 3rem 0;
  svg path {
    color: #fff;
  }
  h1 {
    text-align: center;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}

#resultados {
  padding: 3rem 1rem;
  h1 {
    text-align: center;
    margin-bottom: 17px;
    margin-top: 0px;
    color: #fff;
  }
  h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
   
  }
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }

  a{
    text-align: center;
  }

  .button {
    display: block;
    margin: 0 auto;
  }
  .block {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px;
    h2, span {
      color: #000;
      font-size: 40px;
      font-weight: normal;
    }
    svg {
      font-size: 30px;
      margin: 0 auto;
      display: block;
    }
    path {
      color: $mainColor
    }
  }
}

#servicios{
  background-color: #F2F2F2;
  .serviciosBlock {
    display: block;
    width: 79%;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  h1 {
    margin-bottom: 30px;
  }

  .block {
    margin-bottom: 60px;
  }

  h2 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  p {
    margin-top: 0px;

  }
  
}

#plataforma {
  background-color: #F2F2F2;
  ul {
    list-style: none;
  }
  .block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
  }
  .plataformaBlock {
    width: 75%;
    margin: 0 auto;
    padding-top: 31px;
  }

  h2 {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 9px;
    margin-top: 0px;
  }

  p {
    margin-top: 0px;
    margin-left: 9px;
  }
  svg {
    margin-right: 10px;
    font-size: 30px;
  }

  svg path {
    color: #9cc444;
  }
  .button {
    display: block;
    margin: 24px auto;
  }


}

#CtaTelesan {
  h1 {
    font-style: normal;
    font-weight: bold;
    color: $mainColor;
    font-size: 9vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-bottom: 8px;
    text-align: left;
  }

  h2 {
    text-align: left;
  }
}
        
button {
  background: #000000;
  transition: background ease .25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#alianza {
    h1 {
      font-style: normal;
      font-weight: bold;
      color: $mainColor;
      font-size: 12vmin;
      letter-spacing: 0.03em;
      line-height: 1;
      margin: 74px 0px;
      text-align: center;
    }
  .alianzas-img {
    width: 58%;
  }

  #nacionales {
    width: 80%;
    margin: 0 auto;
  }
}

#info-contacto p {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 16px;
}
#info-contacto path {
  color: $mainColor;
}

#info-contacto svg {
  margin-right: 10px;
}

#telesan-hero1 .block{
  margin-left: 10px
}

/*Movil*/
@media only screen and (max-width: 1199px) {

  .info-contacto .column {
   margin-top: 0px !important;
}

.plataformaBlock {
  width: 92% !important;
}

  #CtaTelesan {
      h1 {
        font-size: 6vmin;
      }
      h2 {
        font-size: 17px;
      }

      .gatsby-image-wrapper-constrained {
        width: 70%;
        top: 16px;
      }

      .block {
          width: 67%;
          margin: 40px auto;
      }
  }

  #resultados {
    .block {
      margin-bottom: 47px;
    }
  }


  .heroboxtext h1 {
    font-size: 7vmin;
  }
  .heroboxtext p {
    width: 80%;
    text-align: center;
  }
  .row {
    display: block;
  }

  #servicios {
    .serviciosBlock {
      width: 88%;
    }

    .block {
      margin-bottom: 38px;
    }

  }

   #teleconsulta h1 {
    text-align: center;
  }

  #teleconsulta  {
    width: 100%;
    margin: 0px auto;
    .button {
      width: 95%;
    }

    .grafico {
      display: none;
    }

    .col5 {
      height: 75px;
    }
  }

  #alianza {
    #nacionales {
      width: 83%;
    }
    img {
      width: 100%;
    }
  }

  #premios h1 {
    font-size: 2rem !important;
  }

  #telesan-hero2 .column {
    margin-left: 0px;
  }

  #telesan-hero1 .content-telesan, #telesan-hero2 .content-telesan {
    width: 92% !important;
  }

  #productos #manuales {
    margin-top: 20px;
    font-size: 50px;
  }
}