.button {
  margin: 1.5em;
  padding: 0.75em 1.25em;
  background-color: $buttonColor;
  color: $backgroundColor;
  border: 0;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: $mainColor;
}
