html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

@media only screen and (max-width: 40rem) {
  body {
    overflow-x: hidden;
  }
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}

.col5 {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 5px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.flex-grid-thirds .col {
  width: 32%;
  margin-top: 13px;
}

.flex-grid-thirds iframe {
  width: 100%;
}

@media (max-width: 1200px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
