// layouts
$maxContainerWidth: 75rem;

// colors
$mainColor: #2f3e8d;
$secondaryColor: rgba(242,242,242, 0.4);
$backgroundColor: #ffffff;
$textColor: #1b262c;
$secondColor: #9cc444;

// can get more granular
$containerBackgroundColor: $backgroundColor;
$navColor: $backgroundColor;
$navLabelsColor: $textColor;
$socialProofBackgroundColor: #f4eeff;
$productBenefitsColor: $secondaryColor;
$productFeatureColor: $backgroundColor;
$testimonialsBackgroundColor: $secondaryColor;
$ctaBackgroundColor: $backgroundColor;
$buttonColor: #000;
